alembic==1.3.3
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.7
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
beastling==1.5.1.dev0
beautifulsoup4==4.9.1
biblib==0.1.3
bibtex-pygments-lexer==0.0.1
bibtexparser==1.1.0
biopython==1.76
bleach==3.1.4
blinker==1.4
branca==0.4.0
cdstarcat==1.2.0
certifi==2019.11.28
chardet==3.0.4
cldfbench==1.2.2
cldfcatalog==1.3.0
clld==6.0.0
clld-glottologfamily-plugin==3.1.0
clld-phylogeny-plugin==1.4.0
clldmpg==3.5.0
clldutils==3.5.0
cloudpickle==1.3.0
colander==1.7.0
colorlog==4.1.0
colour==0.1.5
configparser==5.0.0
csvw==1.7.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.0.5
docopt==0.6.2
docutils==0.16
doit==0.32.0
entrypoints==0.3
ete3==3.1.1
folium==0.10.1
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.5
hupper==1.9.1
idna==2.8
importlib-metadata==1.5.0
ipapy==0.0.9.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isbnlib==3.9.10
isbnlib-dnb==0.0.3
isbnlib-worldcat2==0.1.2
iso8601==0.1.12
isodate==0.6.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.1.0
latexcodec==2.0.0
libmagic==1.0
lingpy==2.6.6
lingtypology==0.8.6
lxml==4.5.0
MacFSEvents==0.8.1
Mako==1.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
meson==0.53.1
mistune==0.8.4
mock==4.0.2
more-itertools==8.2.0
nameparser==1.0.5
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.5
networkx==2.2
newick==1.0.0
Nikola==8.0.4
nose==1.3.7
notebook==6.0.3
numpy==1.18.1
packaging==20.1
paginate==0.5.6
pandas==1.0.0
pandocfilters==1.4.2
parso==0.6.2
PasteDeploy==2.1.0
patsy==0.5.1
pdfrw==0.4
pexpect==4.8.0
phyltr==0.5.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==7.0.0
pip-review==1.0
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
purl==1.5
py==1.8.1
pybtex==0.22.2
pycdstar==1.0.1
pycldf==1.14.1
pyclts==2.0.0
pyconcepticon==2.6.0
pycountry==19.8.18
pydub==0.23.1
pyglet==1.4.10
pyglottolog==3.0.0
Pygments==2.6.1
pyigt==1.0.1.dev0
pymarc==4.0.0
pync==2.0.3
pyparsing==2.4.6
pyperclip==1.7.0
pyramid==1.10.4
pyramid-mako==1.1.0
pyramid-tm==2.4
pyrsistent==0.16.0
PyRSS2Gen==1.1
PySimpleGUI==4.18.2
pytest==5.3.5
python-dateutil==2.8.1
python-docx==0.8.10
python-editor==1.0.4
python-Levenshtein==0.12.0
python-magic==0.4.15
pytz==2019.3
PyYAML==5.3
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
rdflib==4.2.2
regex==2020.4.4
remi==2020.3.10
requests==2.22.0
rfc3986==1.3.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
segments==2.1.3
selenium==3.141.0
Send2Trash==1.5.0
simpleaudio==1.0.4
six==1.14.0
smmap2==2.0.5
soupsieve==2.0.1
SQLAlchemy==1.3.13
sqlparse==0.3.1
statsmodels==0.11.0
tabulate==0.8.6
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.42.0
traitlets==4.3.3
transaction==3.0.0
translationstring==1.3
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.8
venusian==3.0.0
waitress==1.4.3
Wand==0.6.1
wcwidth==0.1.8
webassets==2.0
webencodings==0.5.1
WebHelpers2==2.0
WebOb==1.8.6
Whoosh==2.7.4
widgetsnbextension==3.5.1
xlwt==1.3.0
xmljson==0.2.0
xmltodict==0.12.0
Yapsy==1.12.2
yuicompressor==2.4.8
zipp==2.1.0
zope.deprecation==4.4.0
zope.interface==4.7.1
zope.sqlalchemy==1.2
python-3.7.7