.paradigm-table {
/*  width: auto !important;*/
  border-collapse: collapse;
  display: inline;
  margin:4px;
}

.paradigm-td {
  padding: 10px;
  border: 0.5px dotted black;
}

caption {
	font-size: 12px;
}
